#txtBusca{
    display: inline;
}
#imgLupa{
    display: inline;
}

header {
    padding: 20px;
    background-color: #13138d;
    display: flex;
    align-items: center;
    position: fixed;
    height: 10%;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav{
    list-style: none;
    margin-left: 2%;
    text-align: right;
    display: flex;
}

.paginas{
    display: inline-block;
    margin-left: 15%;
}

.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

header ul{
    list-style: none;
    margin-left: 10%;
    margin-top: 2%;
    text-align: right;
    display: inline;
    margin-left: 40%;
}
header ul li{
    list-style: none;
    margin-right: 4%;
    text-align:center;
    margin-left: auto;
    display: inline;
}

.lista1{
    list-style: none;
    margin-right: 3%;
    text-align:center;
    margin-left: auto;
    display: inline;
}

h1{
    text-align: center;
    color:white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-left: 10%;
}
.login{
    display: inline-block;
}
.busca{
    margin-top:0%;
    display: inline-block;
}
header a{
    color:white;
}